/* Resetando algumas propriedades padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #6a1b9a; /* Roxo escuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

/* Layout das Seções */
.section-container {
    padding: 40px 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 2.5em;
    color: #6a1b9a; /* Roxo escuro */
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilo das seções específicas */
.tema {
    margin-bottom: 40px;
}

.tema h3 {
    font-size: 1.8em;
    color: #6a1b9a; /* Roxo escuro */
    margin-bottom: 10px;
}

.tema p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Vídeos */
iframe {
    margin-top: 20px;
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1em;
}
